conlleval==0.2
deep-translator==1.7.0
huggingface-hub==0.0.19
icecream==2.1.2
keras==2.8.0
Keras-Preprocessing==1.1.2
nltk==3.6.5
numpy==1.21.4
pandas==1.3.4
protobuf==3.19.4
regex==2021.11.10
scikit-learn==1.0.1
scipy==1.7.2
sentencepiece==0.1.95
spacy==3.0.0
tensorboard==2.8.0
tensorflow==2.8.0
tensorflow-hub==0.7.0
tokenizers==0.10.3
torch==1.10.0
torchtext==0.11.0
tqdm==4.62.3
transformers==4.6.1
virtualenv==20.0.17